@page
@model IndexModel
@{

}

<div class="allMovies">
    <h1>Here is a list of Star Wars Movies!</h1>
    <div class="all_movies">
        @foreach(var m in Model.Movies)
            {
                <div class="movie_card">
                    <h2>@m.EpisodeId</h2>
                    <h3>@m.Title</h3>
                    <span>@m.Director</span>
                    <span>@m.ReleaseDate</span>
                </div>
            }
    </div>
</div>
